@import url('../../vendor/fonts/font.css');
@import url('__container/page__container.css');
@import url('__content/page__content.css');

.page {
    margin: 0;
    min-width: 320px;
    background-color: #2a2c2f;
    color: white;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (min-width: 768px) {
    .page {
        min-width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .page {
        min-width: 1024px;
    }
}

@media screen and (min-width: 1280px) {
    .page {
        min-width: 1280px;
    }
}
