@import url('__image/photo-grid__image.css');
@import url('__list/photo-grid__list.css');

.photo-grid {
    grid-area: photo-grid;
    margin: 0;
    min-width: 288px;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        min-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        min-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        min-width: 1184px;
    }
}


