.place__url_link {
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: underline;
    color: white;
    align-self: flex-end;
}

@media screen and (min-width: 768px) {
    .place__url_link {
        font-size: 0px;
        line-height: 0px;   
    } 
}
.place__url_link:hover {
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.8;
}