.footer__links {
    margin: 0 0 16px;
    padding: 0;
    display: grid;
    list-style: none;
    grid-gap: 32px;
}

@media screen and (min-width: 768px) {
    .footer__links {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-width: 1024px) {
    .footer__links {
        display: flex;
    }
}@media screen and (min-width: 1280px) {
    .footer__links {
        display: flex;
    }
}

