

.place {
    margin: 0;
    display: grid;
    min-width: 320px;
    grid-template-columns: 320px;
    grid-gap: 32px;
    padding-bottom: 48px;
    grid-template-areas: 
            "title" 
            "image" 
            "description";
}

@media screen and (min-width: 768px) {
    .place {
        min-width: 340px;
        grid-template-columns: 340px;
        grid-gap: 32px;
        padding-bottom: 72px;

    } 
}

@media screen and (min-width: 1024px) {
    .place {
        min-width: 720px;
        grid-template-columns: 440px 1fr;
        grid-gap: 48px 32px;
        padding-bottom: 80px;

    }
}

@media screen and (min-width: 1280px) {
    .place {
        display: grid;
        min-width: 984px;
        grid-template-columns: 460px 1fr;
        grid-template-areas: 
                "title url"
                "image description";
        grid-gap: 48px 40px;

    }
}

.place__title {
    margin: 0;
    font-weight: 900;
    display: grid;
    grid-area: title;
    width: 288px;
    font-size: 32px;
    line-height: 35px;
}

@media screen and (min-width: 1024px) {
    .place__title {
        width: 440px;
        font-size: 72px;
        line-height: 76px;
    }
}
    @media screen and (min-width: 768px) {
        .place__title {
            width: 340px;
            font-size: 42px;
            line-height: 46px;
        }
    }
    @media screen and (min-width: 1280px) {
        .place__title {
            width: 460px;
            font-size: 72px;
            line-height: 76px;
        }  
    }

.place__description {
    min-width: 288px;
    grid-area: description;
}

    @media screen and (min-width: 1024px) {
        .place__description {
            min-width: 456px;
        }
    }
    @media screen and (min-width: 768px) {
        .place__description {
            min-width: 352px;
        }
    }
    @media screen and (min-width: 1280px) {
        .place__description {
            min-width: 480px;
        }  
    }

.place__image {
    width: 320px;
    grid-area: image;
}

    @media screen and (min-width: 768px) {
        .place__image {
            width: 340px;

        } 
    }

    @media screen and (min-width: 1024px) {
        .place__image {
            width: 440px;

        }
    }

    @media screen and (min-width: 1280px) {
        .place__image {
            width: 460px;

        }  
    }
.place__paragraph {
    margin: 0;
    min-width: 288px;
    padding-bottom: 24px;

}



.place__paragraph-end {
    padding-bottom: 0px;
}

.place__paragraph:last {
    padding-bottom: 0;
}
@media screen and (min-width: 768px) {
    .place__paragraph {
        min-width: 352px;
    }
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        min-width: 456px;
    }
}

@media screen and (min-width: 1280px) {
    .place__paragraph {
        min-width: 484px;
    }  

}

.place__url {
    display: grid;
    flex-direction: column;
    grid-area: url;
    align-self: flex-end;
}

.place__url_heading {
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase; 
    color: #aaa;
}

.place__url_link {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: white;
    align-self: flex-end;
}

.place__url_link:hover {
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.8;
}

.place__paragraph-last {
    padding-bottom: 0px;
}