.place__title {
    margin: 0;
    width: 288px;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    display: grid;
    grid-area: title;
}

@media screen and (min-width: 768px) {
    .place__title {
        width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (min-width: 1024px) {
    .place__title {
        width: 440px;
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width: 1280) {
    .place__title {
        width: 460px;
        font-size: 72px;
        line-height:76px;
    }
}