@import url(_heading/place__website_heading.css);
@import url(_link/place__website_link.css);

.place__website {
    margin: 0;
    margin-bottom: 58px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: end;
}

@media screen and (max-width: 1023px) {
    .place__website {
        margin-bottom: 48px;
    }
}

@media only screen and (min-width: 567px) and (max-width: 767px) {
    .place__website {
        display: none;
    }
}

@media only screen and (max-width: 424px) {
    .place__website {
        display: none;
    }
}